<nav class="navbar navbar-expand-sm bg-body-light border-bottom sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="/" ><i class="fa-solid fa-s" style="color: blue; font-size: 35px; border-radius: 100%; padding: 8px; background-color: aqua;"></i></a>
    <button class="navbar-toggler"
       type="button" 
       
       data-bs-toggle="collapse" 
       data-bs-target="#navbarNavAltMarkup"
    > 
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" href="/">Home</a>
          <a class="nav-link" href="/listings">All listinigs</a>
          <a class="nav-link" href="/listings/new">Add new listing</a> 
        </div> 
        <div class="navbar-nav ms-auto">

          <% if(!currUser){ %>
            <a class="nav-link" href="/signup">SignUp</a>
            <a class="nav-link" href="/login">Login</a>
          <%}%>

          <% if(currUser){ %>    
               <%= currUser.username %>
              <a class="nav-link" href="/logout">Log Out</a> 

          <%}%>
        </div> 
      </div>
    </div>
  </nav>
