<style>
  .btn-search i{
    display: inline;
    margin-right: 0.5rem;
    
  }

  .btn-search {
    background-color: blue;
    color: #fff;
    border-radius: 25px;
    margin: 0 1rem 0 1rem;
  }
  .btn-search:hover{
    background-color: blue;
    color: #fff;
  }
  .search-inp{
    border-radius: 25px;
    padding: 0.5rem 3rem 0.5rem 3rem;
    font-size: 0.8rem;
  }

</style>



<nav class="navbar navbar-expand-sm bg-body-light border-bottom sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="/listings" ><i class="fa-solid fa-s" style="color: blue; font-size: 35px; border-radius: 100%; padding: 8px; background-color: aqua;"></i></a>
    <button class="navbar-toggler"
       type="button" 
       
       data-bs-toggle="collapse" 
       data-bs-target="#navbarNavAltMarkup"
    > 
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" href="/listings">Explore</a>
          

          <div class="navbar-nav " style="margin-left: 25rem;">
            <form class="d-flex" role="search">
              <input class="form-control me-2 search-inp" type="search" placeholder="Search destination" >
              <button class="btn btn-outline btn-search" type="submit"><i class="fa-solid fa-magnifying-glass"></i>Search</button>
            </form>
          </div>


        </div> 
        <div class="navbar-nav ms-auto">
          <a class="nav-link" href="/listings/new">Add new listing</a> 
          <% if(!currUser){ %>
            <a class="nav-link" href="/signup"><b>SignUp</b></a>
            <a class="nav-link" href="/login"><b>Login</b></a>
          <%}%>

          <% if(currUser){ %>    
               <%= currUser.username %>
              <a class="nav-link" href="/logout"><b>Log Out</b></a> 

          <%}%>
        </div> 
      </div>
    </div>
  </nav>
