<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Suhana-Safar | We name your Safar Suhana </title>
</head>

<body>
    <h2>create new Listing<h2>
    <form method="POST" action="/listinigs">
        <input name="Listing[title]" placeholder="enter title" type="text"><br><br>
        <textarea name="Listing[discription]" placeholder="enter discription" type="text"></textarea><br><br>

        <input name="Listing[image]" placeholder="enter image url"><br><br>
        <input name="Listing[price]" placeholder="enter price" type="number"><br><br>
        <input name="Listing[location]" placeholder="enter location" type="text"><br><br>
        <input name="Listing[country]" placeholder="enter coutry name" type="text"><br><br>
        <button>Submit Listing</button>
    </form>
</body>
</html>