<% layout("/layouts/boilerplate") %>
<body>
<div class="row">
    <div class="col-8 offset-2"><br>
    <h2>create new Listing!!!<h2>
    <form method="POST" action="/listinigs">
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input name="Listing[title]" placeholder="Add a catchy title" type="text" class="form-control">
        </div>

        <div class="mb-3">
            <label for="discription" class="form-label">Discription</label>
            <textarea name="Listing[discription]" placeholder="enter discription" type="text" class="form-control"></textarea>
        </div>

        <div class="mb-3">
            <label for="image" class="form-label">Image link</label>
            <input name="Listing[image]" placeholder="enter image url" class="form-control">
        </div>
            
        <div class="row">

            <div class="mb-3 col-md-4">
                <label for="price" class="form-label">Price</label>
                <input name="Listing[price]" placeholder="6000" type="number" class="form-control">
            </div>

            <div class="mb-3 col-md-8">
                <label for="country" class="form-label">Country</label>
                <input name="Listing[country]" class="form-control" placeholder="India" type="text">
            </div>

        </div>

        <div class="mb-3">
            <label for="location" class="form-label">Location</label>
            <input name="Listing[location]" placeholder="Varanasi" type="text" class="form-control">
        </div>
        <br>
        <button class="btn btn-primary">Submit Listing</button>
    </form><br>
</div>
</div>
</body>
